{{ define "main" }}

<div class="mw7 center">
    <div class="flex-ns mhn2-ns mw7">
        <div class="w-33-ns ph2">
            <div class="ph2">
                名前
            </div>
            <div class="ph2">
                卒業期
            </div>
            <div class="ph2">
                URL
            </div>
            <div class="ph2">
                メッセージ
            </div>
        </div>
        {{ range (where .Parent.Pages "Type" "poster") }}
        <div class="w-33-ns ph2">
            <div class="ph2"><a href="{{.Permalink}}">{{ .Params.sponsor}}</a>
            </div>
            <div class="ph2">{{ .Params.grade}}
            </div>
            <div class="ph2">{{ .Params.link_url}}
            </div>
            <div class="ph2">{{ .Content}}
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}