{{ define "main" }}

<div class="mw7 center">
    <table class="" style="border: 1px slod black;width: 100%;" rules="all">
        <colgroup>
            <col width="6em" align="center"/>
            <col width="5em" align="center"/>
            <col width="50%" />
            <col width="50%" />
        </colgroup>
        <thead>
            <tr>
                <th>名前</th>
                <th>卒業期</th>
                <th>URL</th>
                <th>メッセージ</th>
            </tr>
        </thead>
        <tbody>
            {{ range (where .Parent.Pages  "Type" "poster") }}
            <tr>
                <td><a href="{{.Permalink}}">{{ .Params.sponsor}}</a></td>
                <td>{{ .Params.grade}}</td>
                <td>{{ .Params.link_url}}</td>
                <td style="overflow: elipsis;">{{ .Content}}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
{{ end }}