ul.poster-section li {
    display: inline-block;
    width:32%;
    vertical-align: middle;
}

ul.poster-section li a {
    display:block;
}

ul.poster-section li a img{
    width: 100%;
    object-fit: contain;
}

