:root{
	--white: rgba(255, 255, 255, 1);
	--off-white: rgba(255, 253, 252, 1);
	--grey-1: rgba(245, 243, 242, 1);
	--grey-2: rgba(235, 231, 230, 1);
	--grey-3: rgba(89, 87, 86, 1);
	--grey-4: rgba(66, 64, 64, 1);
	--black: rgba(43, 37, 35, 1);
}
table.sponsor-list th {
    background-color: var(--grey-1);
}

table.sponsor-list th {
    background-color: var(--grey-1);
}

table.sponsor-list th,table.sponsor-list td {
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color:black;
}

table.sponsor-list tr:nth-child(odd) {
    background-color: var(--grey-1);
}